---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from "../components/Main.astro";
import MobileHeader from "../components/MobileHeader.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="desktop-only">
    <Header/>
  </div>
  <div class="mobile-only">
    <MobileHeader/>
  </div>
  <Main/>
</Layout>

<style>
  .mobile-only {
    display: none;
  }
  @media (max-width: 768px) {
    .mobile-only {
      display: block;
    }
    .desktop-only {
      display: none;
    }
  }
</style>