---

import Spacer from "./Spacer.astro";
import Section from "./Section.astro";---

<Section color="134, 186, 226" id="about">
    <div id="about-content">
    <h1>About Me</h1>
    <p>I’m a <span>Senior at BYU-Idaho</span> studying Computer Science with a focus on web development. Alongside my studies, I tutor <span>three web development classes</span>, helping students navigate their own coding journeys. I’m passionate about full-stack development, primarily working with <span>React and TypeScript</span>, and I always strive to create applications with a <span>seamless, cross-platform user experience</span>. My goal is to make my apps intuitive and accessible, ensuring that any user can interact with them in the best way possible.</p>
    </div>
</Section>


<style>
    #about-content {
        text-align: center;

    }
    span {
        color: #86BAE2;
        font-weight: bold;
    }
    h1 {
       color: #86BAE2
    }
     p {
         width: 90%;
     }
    @media (max-width: 768px) {
        #about-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
</style>