---
//TODO - dashed line between the projects
import Spacer from "./Spacer.astro";
import Project from "./Project.astro";---

<div id="projects">
    <Spacer height="70"/>
    <h1>Projects</h1>
    <div id="project-list">
        <Project name="MTG Board" img="https:placehold.co/20x20" description="I do cool things" link="https://www.github.com" dir="right"/>
    </div>
</div>

<style>
    div {
        margin-top: -40px;
        color: white;
    }
    h1 {
        color: rgba(254, 238, 162, 1);
        text-align: center;
    }

</style>