---
import Spacer from "./Spacer.astro";
import Skill from "./Skill.astro";
---

<div id="skills">
    <Spacer height="70"/>
    <div id="skills-holder">
        <h1>My Skills</h1>
        <div class="skill">
            <h2>Languages</h2>
            <div class="skill-flex">
                <Skill name="TypeScript" img="devicon:typescript"/>
                <Skill name="JavaScript" img="devicon:javascript"/>
                <Skill name="Rust" img="devicon:rust"/>
                <Skill name="C#" img="devicon:csharp"/>
                <Skill name="Python" img="devicon:python"/>
                <Skill name="HTML" img="devicon:html5"/>
                <Skill name="CSS" img="devicon:css3"/>
                <Skill name="mySQL" img="devicon:mysql"/>
            </div>
        </div>
        <div class="skill">
            <h2>Frameworks/Libraries</h2>
            <div class="skill-flex">
                <Skill name="React" img="devicon:react"/>
                <Skill name="Next.js" img="devicon:nextjs"/>
                <Skill name="Astro" img="devicon:astro"/>
                <Skill name="Pygame" img="devicon:python"/>
                <Skill name="TensorFlow" img="devicon:tensorflow"/>
            </div>
        </div>
        <div class="skill">
            <h2>Tools</h2>
            <div class="skill-flex">
                <Skill name="Git" img="devicon:git"/>
                <Skill name="Docker" img="devicon:docker"/>
                <Skill name="Google Cloud" img="devicon:googlecloud"/>
                <Skill name="DigitalOcean" img="devicon:digitalocean"/>
                <Skill name="Unity" img="devicon:unity"/>
                <Skill name="Linux" img="devicon:linux"/>
            </div>
        </div>
        <!-- other skills
        REST API
        Authentication
        Responsive UI
        Data Structures & Algorithms
        -->
        <div class="skill">
            <h2>Other</h2>
            <div class="skill-flex">
                <Skill name="REST API" img="devicon:fastapi"/>
                <Skill name="Authentication" img="heroicons:finger-print"/>
                <Skill name="Responsive Design" img="heroicons-solid:device-phone-mobile"/>
                <Skill name="Data Structures and Algorithms" img="devicon:thealgorithms"/>
            </div>
        </div>
    </div>
</div>

<style>
    #skills {
        color: white;
        margin: -40px auto auto;
    }
    h1 {
        color: rgba(166, 236, 163, 1);
        grid-column: 1/3;
        text-align: center;
    }
    .skill {
        color: white;
        margin: 10px auto;
        padding: 1%;
        border: 2px solid rgba(166, 236, 163, 0.3);
        width: 90%;
        border-radius: 10px;
        transition: border 0.3s ease;
        background-color: rgba(255, 255, 255, 0.05);
        padding-bottom: 2%;
    }
    h2 {
        text-align: center;
    }
    .skill:hover {
        border: 2px solid rgba(166, 236, 163, 0.7);
    }
    .skill-flex {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;

    }
    #skills-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 768px)  {
        h1 {
            text-align: center;
            grid-column: 1/-1;
        }
        #skills-holder {
            grid-template-columns: 1fr;
        }

    }
</style>